body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

	.main {
		height: 700px;
		background-image: url(http://images.all-free-download.com/images/graphicthumb/abstract_blue_background_vector_graphic_4_148030.jpg); 
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
@media screen and (min-width:1000px) {
	#container {
		height: 700px;
		width: 1000px;
		margin: 0 auto;
	}
}

.header {
	margin-top: 0px;
	width: 100%;
	margin: 0 auto;
}

.logo {
	height: 30px;
	width: 30px;
	float: left;
	margin-top: 20px;
}

nav {
	float: right;
	margin-top: 26px;
}

.navbar {
	color: #501935;
	font-weight: bolder;
	font-size: 20px;
	margin-left: 25px;
	text-decoration: none;
}

.navbar:hover {
	color: red;
}

span {
	width: 100%;
}

h1 {
	font-size: 75px;
	color: #501935;
	text-align: center;
	clear: both;
	padding-top: 100px;
}

h2 {
	font-size: 30px;
	color: #501935;
	text-align: center;
	clear: both;
	margin-top: -50px;
}

@media screen and (min-width:320px) and (max-width:999px) {
	.hometitle {
		padding-top: 20px;
	}
}
/* portfoliohead */

#portfoliohead {
	width: 100%;
	height: 350px;
	background-image: url(http://images.all-free-download.com/images/graphicthumb/abstract_blue_background_vector_graphic_4_148030.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.portfoliotitle {
	padding-top: 37px;
}

div.secondcontainer {
	margin: 0 auto;
}

.one, .two, .three, .four {	
	margin: 0;
	margin-top: 40px;
}

.portfolio {
	width: 28%;
	height: 250px;
	padding-left: 3%;
}

img.first {
	padding-left: 4.5%;
}

@media screen and (min-width:320px) and (max-width:999px) {
	
	.portfolio {
	width: 60%;
	height: 225px;
	margin-left: 17%;
	margin-right: 17%;
	padding-bottom: 45px;
	}

	img.last {
		padding-bottom: 0;
	}

	img.first {
		padding-left: 3%;
	}
}

/* testimonial */

.testimonial {
	padding-left: 100px;
	padding-right:  100px;
}

p.name {
	color: #A3A3A3;
	font-size: 20px;
}
/* footer */

footer {
	width: 100%;
	height: 150px;
	background-color: #623049;
	margin-top: 30px;
}

#footer {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0 100px;
}

h3 {
	color: white;
	font-weight: bolder;
}

div.social {
	float: left;
	/*margin-top: 20px;*/
}

a.social {
	margin-right: 15px;
}

div.contact {
	float: right;
	margin-right: 200px;
	/*margin-top: 20px;*/
}

label {
	color: white;
}

input.text {
	height: 30px;
	width: 250px;
	border-radius: 3px;
	border: none;
}

textarea.message {
	height: 100px;
	width: 250px;
	border-radius: 3px;
	border: none;
}

input.submit {
	width: 60px;
	height: 30px;
	background-color: white;
	color: #623049;
	font-weight: bolder;
	font-size: 13px;
	border: none;
	border-radius: 3px;
}

input.submit:hover {
	text-decoration: underline;
}

p.subtitle {
	color: white;
	font-size: 20px;
	font-weight: bolder;
	/*padding-left: 100px;*/
	background-color: #71445B;
	text-align: center;
}

h1#contactme {
	padding-top: 0;
	margin-top: 0;
}

/* video */
div#video {
	text-align: center;
	width: 100%;
}
iframe#video {
	width: 500px;
}

@media screen and (min-width:320px) and (max-width:999px) {
	div#video {
		text-align: center;
		width: 100%;
	}
	iframe#video {
		width: 300px;
		height: 200px;
	}
}
/* map */
div#map {
	text-align: center;
	width: 100%;
}

iframe#map {
	width: 95%;
	padding: 20px;
}

@media screen and (min-width:320px) and (max-width:999px) {
	div#map {
		text-align: center;
		width: 100%;
		/*padding-top: 200px;*/
	}
	iframe#map {
		width: 75%;
		padding: 20px;
	}
}
